/* Mobile version 
https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488
*/

body   {
    overflow-x: hidden;                                        /* source: Nick Craver https://stackoverflow.com/questions/2594389/hide-html-horizontal-but-not-vertical-scrollbar*/
    background: linear-gradient(0deg, rgba(228,244,243,1) 0%, rgba(0,95,99,1) 100%);    text-align: justify;                                       /*justify the text*/
    font-family: 'Raleway', sans-serif;                        /**/
        }

        /*
.title {
     width: 100%;
     margin-top: 0px;
     background-color: #e4f4f3;
     color: #005F63;
     text-align: center;
     font-size: 40px;
           }

           */


@media (min-width: 481px) and (max-width: 767px) {


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Humburger menu https://codepen.io/renato2016/pen/yLBxrWp */
.open,
.close {
  display: inline-block;
  padding: 20px 0 0 20px;
  cursor: pointer;
  font-size: 70px;
  color: #212121;
  text-decoration: none;
  transition: 0.5s;
}

.overlay {
  position: fixed;
  width: 0;
  top: 0;
  background-color: #005F63 ;
  opacity: 0.95;
  overflow-x: hidden;
  height: 100%;
  transition: 0.5s;
}

.overlay-content {
  text-align: center;
  position: relative;
  width: 100%;
}

.overlay-content a {
  font-size: 50px;
  color: #E4F4F3 ;
  display: block;
  padding: 10px;
  margin-bottom: 4px;
  text-decoration: none;
  transition: 0.3s;
  position: relative;
}
.overlay-content a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #212121 ;
  transition: 0.3s;
  display: block;
}
.overlay-content a:hover {
  color: #E4F4F3  ;
}

.overlay-content a:hover:after {
  width: 25%;
}



.circle {
    border-radius: 50%;
}

.hidden {
    display: none;
}

.buttons {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #E4F4F3 ;
    position: relative;
    display: inline-block;
    background-color: #53B06D ;
    box-shadow: #212121 ;
  }

  .buttons:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 3px 0px 0px;
  }

  .btn {
    background-color: #53B06D ;
    box-shadow: 0px 5px 0px 0px #212121;
  }
  
  .btn:hover {
    background-color: #53B06D ;
    font-size: 24px;
  }





}


/* Desktop version */




@media (min-width: 1025px) and (max-width: 1280px) {
  
    
  }


  @media (min-width: 1281px) {
  
    
  }